<!doctype html>
<html lang="zh-CN">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>教室课表查询</title>
    <script src="https://cdn.bootcss.com/vue/2.5.17-beta.0/vue.min.js"></script>
    <script src="https://cdn.bootcss.com/element-ui/2.4.0/index.js"></script>
    <script src="https://cdn.bootcss.com/axios/0.18.0/axios.min.js"></script>
    <link href="https://cdn.bootcss.com/element-ui/2.4.0/theme-chalk/index.css" rel="stylesheet">
    <style>
        * {
            margin: 0;
            padding: 0;
            box-sizing: border-box;
            font-family: "Microsoft-Yahei UI";
        }

        .wrapper {
            display: flex;
            flex-direction: column;
            /*justify-content: space-between;*/
            /*align-items: center;*/
            padding: 5px 5px 0;
            height: 100vh;
        }
        .wrapper >h1{
            font-weight: 200;
            margin:10px 0 10px 0px; ;
        }

        .el-input__inner {
            margin-top: 10px;
        }

        .background-wrap {
            position: fixed;
            bottom: 0;
            left: 0;
            width: 100%;
            height: 100px;
            text-align: center;
        }

        .background-wrap p {
            display: inline-block;
            font-size: 13px;
            color: #666;
        }

        .background-wrap>.bottom-background {
            text-align: center;
            position: absolute;
            bottom: 0;
            left: 0;
            width: 100%;
            height: 60px;
            line-height: 60px;
            font-size: 17px;
            color: aliceblue;
            background: linear-gradient(#8e89fd, #3aaefc);
        }
    </style>
</head>

<body>
    <div id="app">
        <template>
            <div class="wrapper">
                <h1>教室课程查询</h1>
                <!-- 选择校区 -->
                <el-select v-model="selectArea" placeholder="校区(必选)">
                    <el-option v-for="item in areas" :key="item.value" :label="item.label" :value="item.value">
                    </el-option>
                </el-select>
                <!-- 选择教室类型 -->
                <el-select v-model="selectRoomType" :disabled=" validated1===false " placeholder="教室类型(必选)">
                    <el-option v-for="item in roomTypeList" :key="item" :label="item" :value="item">
                    </el-option>
                </el-select>
                <!-- 选择教室号 -->
                <el-select v-model="selectRoomNum" :disabled=" validated2===false " placeholder="选择教室号(必选)">
                    <el-option v-for="item in roomNumList" :key="item" :label="item" :value="item">
                    </el-option>
                </el-select>
                <img src="{{ url_for('school_sys.static', filename='images/schedule/classrom_bg.png') }}" style="width: 100%;position: relative;margin-top: 50px;" />
            </div>
            <div class="background-wrap">
                <p> Copyright &copy; 2012-2018 GXGK </p>
                <div class="bottom-background" @click='submitData'>
                    查询
                </div>
            </div>

        </template>
    </div>
</body>
<script>
    var Main = {
        data() {
            return {
                validated1:false,
                validated2:false,
                areas: [{
                    value: '雅园校区',
                    label: ''
                }, {
                    value: '本部',
                    label: ''
                }],
                app_id: '',
                selectArea: '',
                selectRoomType: '',
                roomTypeList: [],
                selectRoomNum: "",
                roomNumList: [],
                rawData: {
                    "雅园校区": {
                        "办公室": [
                            "雅3-118",
                            "雅3-119",
                            "雅3-120",
                            "雅3-121"
                        ],
                        "多媒体": [
                            "雅3-114",
                            "雅3-115",
                            "雅5-122",
                            "雅5-123"
                        ],
                        "机房": [
                            "雅3-117",
                            "雅5-125"
                        ],
                        "教室": [
                            "23-1001",
                            "23-1002",
                            "23-1003",
                            "23-1004",
                            "23-1101",
                            "23-1102",
                            "23-1104",
                            "23-1201",
                            "23-1202",
                            "23-1204",
                            "23-201",
                            "23-202",
                            "23-204",
                            "23-301",
                            "23-302",
                            "23-303",
                            "23-304",
                            "23-401",
                            "23-402",
                            "23-403",
                            "23-404",
                            "23-501",
                            "23-502",
                            "23-503",
                            "23-504",
                            "23-601",
                            "23-602",
                            "23-603",
                            "23-604",
                            "23-701",
                            "23-702",
                            "23-703",
                            "23-704",
                            "23-801",
                            "23-802",
                            "23-803",
                            "23-804",
                            "23-901",
                            "23-902",
                            "23-903",
                            "23-904",
                            "报关实训室",
                            "国际商务谈判实训室",
                            "金融保险实训室",
                            "雅3-101",
                            "雅3-102",
                            "雅3-103",
                            "雅3-104",
                            "雅3-105",
                            "雅3-106",
                            "雅3-108",
                            "雅3-109",
                            "雅3-110",
                            "雅3-111",
                            "雅3-112",
                            "雅3-113",
                            "雅3-116",
                            "雅5-101",
                            "雅5-102",
                            "雅5-103",
                            "雅5-104",
                            "雅5-105",
                            "雅5-106",
                            "雅5-107",
                            "雅5-108",
                            "雅5-109",
                            "雅5-110",
                            "雅5-111",
                            "雅5-112",
                            "雅5-113",
                            "雅5-114",
                            "雅5-115",
                            "雅5-116",
                            "雅5-117",
                            "雅5-118",
                            "雅5-119",
                            "雅5-120",
                            "雅5-121",
                            "雅5-124"
                        ],
                        "流动教室": [
                            "标准客房实训室",
                            "西餐服务实训室",
                            "雅3-107",
                            "雅5-126",
                            "雅5-127"
                        ],
                        "实训室": [
                            "雅园地下 财务管理实训1",
                            "雅园地下 财务管理实训2",
                            "雅园地下 会计手工实训1",
                            "雅园地下 会计手工实训2",
                            "雅园地下 中西餐实训室"
                        ]
                    },
                    "本部": {
                        "cisco网络实验室": [
                            "工1-304"
                        ],
                        "办公室": [
                            "1-103",
                            "1-104",
                            "1-105",
                            "1-106",
                            "1-107",
                            "1-108",
                            "1-109",
                            "1-110",
                            "1-111",
                            "1-201",
                            "1-206",
                            "1-906",
                            "2-303",
                            "2-305",
                            "2-306",
                            "2-307",
                            "2-402",
                            "2-404",
                            "2-405",
                            "2-406",
                            "2-407",
                            "2-505",
                            "2-506",
                            "2-507",
                            "2-508",
                            "2-605",
                            "2-606",
                            "2-607",
                            "2-608",
                            "3-203",
                            "3-204",
                            "3-205",
                            "3-305",
                            "3-306",
                            "3-307",
                            "3-308",
                            "3-405",
                            "3-406",
                            "3-407",
                            "3-408",
                            "3-504",
                            "3-505",
                            "3-506",
                            "3-604",
                            "3-605",
                            "3-606",
                            "8-306",
                            "8-505",
                            "8-506",
                            "8-605",
                            "8-606",
                            "9-101",
                            "9-301",
                            "9-401",
                            "9-501",
                            "9-601",
                            "T-108",
                            "T-610",
                            "Y-101",
                            "Y-201",
                            "Y-301",
                            "Y-304",
                            "Y-305",
                            "办公室",
                            "办公室",
                            "工1-401",
                            "工1-501",
                            "工1-601",
                            "工一-101"
                        ],
                        "操场": [
                            "操场2",
                            "操场3",
                            "操场4",
                            "操场5",
                            "操场6",
                            "操场7",
                            "风雨操场",
                            "田 径运动场"
                        ],
                        "大数据实验室": [
                            "工1-402",
                            "工1-403"
                        ],
                        "多功能室": [
                            "4-101",
                            "5-101"
                        ],
                        "多媒体": [
                            "1-301",
                            "1-302",
                            "1-303",
                            "1-304",
                            "1-305",
                            "1-306",
                            "1-307",
                            "1-308",
                            "1-401",
                            "1-402",
                            "1-403",
                            "1-404",
                            "1-405",
                            "1-406",
                            "1-407",
                            "1-408",
                            "1-501",
                            "1-502",
                            "1-503",
                            "1-504",
                            "1-505",
                            "1-506",
                            "1-507",
                            "1-508",
                            "1-509",
                            "1-510",
                            "1-511",
                            "1-601",
                            "1-602",
                            "1-603",
                            "1-604",
                            "1-605",
                            "1-606",
                            "1-607",
                            "1-608",
                            "1-609",
                            "1-610",
                            "1-611",
                            "1-901",
                            "1-902",
                            "2-204",
                            "2-205",
                            "2-502",
                            "2-504",
                            "2-601",
                            "2-602",
                            "2-603",
                            "2-604",
                            "2-609",
                            "3-301",
                            "3-302",
                            "3-303",
                            "3-309",
                            "3-310",
                            "3-401",
                            "3-402",
                            "3-403",
                            "3-409",
                            "3-410",
                            "3-501",
                            "3-502",
                            "3-503",
                            "3-507",
                            "3-508",
                            "3-601",
                            "3-602",
                            "3-603",
                            "3-607",
                            "3-608",
                            "4-201",
                            "4-301",
                            "4-304",
                            "4-305",
                            "4-501",
                            "4-506",
                            "6-201",
                            "6-202",
                            "6-203",
                            "6-204",
                            "6-205",
                            "6-304",
                            "6-305",
                            "6-404",
                            "6-405",
                            "6-501",
                            "6-505",
                            "6-603",
                            "6-604",
                            "7-201",
                            "7-202",
                            "7-203",
                            "7-204",
                            "7-205",
                            "7-301",
                            "7-302",
                            "7-303",
                            "7-304",
                            "7-305",
                            "7-401",
                            "7-404",
                            "7-405",
                            "7-501",
                            "7-504",
                            "7-505",
                            "7-602",
                            "7-603",
                            "7-604",
                            "8-104",
                            "8-105",
                            "8-106",
                            "8-107",
                            "8-201",
                            "8-202",
                            "8-203",
                            "8-204",
                            "8-205",
                            "8-206",
                            "8-207",
                            "8-301",
                            "8-302",
                            "8-303",
                            "8-304",
                            "8-305",
                            "8-307",
                            "8-401",
                            "8-402",
                            "8-403",
                            "8-404",
                            "8-405",
                            "8-406",
                            "8-501",
                            "8-502",
                            "8-503",
                            "8-504",
                            "9-102",
                            "9-103",
                            "9-104",
                            "9-105",
                            "9-202",
                            "9-203",
                            "9-204",
                            "9-205",
                            "9-302",
                            "9-303",
                            "9-304",
                            "9-305",
                            "工1-603",
                            "工1-604",
                            "工1-605"
                        ],
                        "仿真室": [
                            "仿真二室",
                            "仿真三室",
                            "仿真四室",
                            "仿真一室"
                        ],
                        "服装工作室": [
                            "S4-501",
                            "S4-502"
                        ],
                        "华为网络实验室": [
                            "工1-502"
                        ],
                        "会计手工实训室": [
                            "2-401",
                            "2-403",
                            "5-601",
                            "5-602"
                        ],
                        "机房": [
                            "1-807",
                            "1-808",
                            "1-809",
                            "1-810",
                            "1-903",
                            "1-904",
                            "1-905",
                            "1-907",
                            "1-908",
                            "1-909",
                            "1-910",
                            "1-911",
                            "22-603",
                            "22-604",
                            "5-604",
                            "5-605",
                            "工1-205",
                            "工1-404",
                            "工1-503",
                            "工1-504",
                            "工1-505"
                        ],
                        "机械加工中心": [
                            "机械加工中心实训基地"
                        ],
                        "计算机辅助笔译实验室": [
                            "1-804"
                        ],
                        "驾校": [
                            "汽车训练场"
                        ],
                        "教材库": [
                            "1-102"
                        ],
                        "教室": [
                            "1-202",
                            "1-203",
                            "1-204",
                            "1-205",
                            "2-302",
                            "2-310",
                            "9-206",
                            "9-207",
                            "9-306",
                            "9-307",
                            "Y-202",
                            "Y-203",
                            "Y-302",
                            "Y-303",
                            "Y-401",
                            "Y-402",
                            "Y-403",
                            "Y-404",
                            "Y-405",
                            "Y-406"
                        ],
                        "教室(计)": [
                            "8-507",
                            "8-601",
                            "8-602",
                            "8-603",
                            "8-604",
                            "8-607"
                        ],
                        "阶梯教室": [
                            "2-201",
                            "2-202",
                            "3-201",
                            "3-202",
                            "6-601",
                            "7-601"
                        ],
                        "流动教室": [
                            "2-101",
                            "2-102",
                            "2-103",
                            "2-104",
                            "2-105",
                            "2-106",
                            "2-107",
                            "2-203",
                            "2-301",
                            "2-308",
                            "2-408",
                            "2-501",
                            "2-503",
                            "2-509",
                            "2-510",
                            "2-511",
                            "2-512",
                            "2-513",
                            "2-610",
                            "2-611",
                            "2-612",
                            "2-613",
                            "T-101",
                            "T-103",
                            "T-104",
                            "T-105",
                            "T-107",
                            "T-109",
                            "T-114",
                            "T-501",
                            "T-502",
                            "T-503",
                            "T-504",
                            "T-505",
                            "T-506",
                            "T-507",
                            "T-508",
                            "T-509",
                            "T-510",
                            "T-511",
                            "T-606",
                            "T-607",
                            "T-608",
                            "T-615",
                            "T-616",
                            "T-617",
                            "T-618",
                            "T-619",
                            "T-620",
                            "T-621",
                            "T-622",
                            "T-623",
                            "T-624",
                            "T-625"
                        ],
                        "其它": [
                            "4-606",
                            "网络平台"
                        ],
                        "器乐排练室": [
                            "器乐排练室(二)",
                            "器乐排练室(一)"
                        ],
                        "嵌入式开发实训室": [
                            "工1-203"
                        ],
                        "琴房": [
                            "Y-501",
                            "Y-502",
                            "Y-503",
                            "Y-504",
                            "Y-505",
                            "Y-506",
                            "Y-507",
                            "Y-508",
                            "Y-509",
                            "Y-510",
                            "Y-512",
                            "Y-513",
                            "Y-514",
                            "Y-515",
                            "Y-516",
                            "Y-517",
                            "Y-518",
                            "Y-524",
                            "Y-529",
                            "Y-601",
                            "工2-511"
                        ],
                        "实训室": [
                            "1-801",
                            "1-802",
                            "1-805",
                            "1-806",
                            "2-304",
                            "2-309",
                            "2-409",
                            "2-410",
                            "4-205",
                            "4-401",
                            "4-405",
                            "4-502",
                            "4-503",
                            "4-504",
                            "4-505",
                            "4-601",
                            "4-603",
                            "4-605",
                            "5-404",
                            "5-405",
                            "5-503",
                            "5-504",
                            "5-505",
                            "5-506",
                            "5-603",
                            "5-606",
                            "6-502",
                            "6-503",
                            "6-504",
                            "6-602",
                            "S2-101 焊工实训室",
                            "S2-102 焊工房仓库3",
                            "S2-201 机械设计与公差实验室",
                            "S2-301 制图实训室1",
                            "S2-302 制图实训室2",
                            "S2-401 仿真实训室(一)",
                            "S2-403 仿真实训室(二)",
                            "S2-404  自动化实训室",
                            "S2-405  自动化实训室",
                            "S2-501 电工实训室(三)",
                            "S2-503 电工实训室(四)",
                            "S2-601 电工实训室(一)",
                            "S2-603 电工实训室(二)",
                            "S2-605  可编程控制器实验室",
                            "S3-301  物理实验室",
                            "S3-302  物理实验室",
                            "S3-303  物理实验室",
                            "S3-401  物理实验室",
                            "S3-402  物理实验室",
                            "S3-403  物理实验室",
                            "S3-501  物理实验室",
                            "S3-502  物理实验室",
                            "S3-503  物理实验室",
                            "S3-601  物理实验室",
                            "S3-602  物理实验室",
                            "S3-603  物理实验室",
                            "S4-201  绘画实训室",
                            "S4-301  服装工艺实训室",
                            "S4-401  制板实训室",
                            "S4-503  针织工艺实训室",
                            "电工仓库",
                            "工2-102  汽车实训室",
                            "工2-103  汽车实训室",
                            "工2-104  汽车实训室",
                            "工2-105  汽车实训室",
                            "工2-204",
                            "工3-205",
                            "工3-303",
                            "工3-304",
                            "工3-404",
                            "工3-602",
                            "工一-102",
                            "工一-103",
                            "工一-104",
                            "工一-105",
                            "汽车实训大厅  汽车实训室",
                            "艺-301",
                            "艺-303",
                            "艺-304",
                            "艺-309",
                            "艺-310",
                            "艺-403",
                            "艺-404",
                            "艺-407",
                            "艺-408",
                            "艺-409"
                        ],
                        "数据中心机房": [
                            "8-101",
                            "8-102",
                            "8-103"
                        ],
                        "数码钢琴室": [
                            "Y-306"
                        ],
                        "同声传译实训室": [
                            "1-803"
                        ],
                        "网络工程实验室": [
                            "工1-405"
                        ],
                        "网络运维实验室": [
                            "工1-303"
                        ],
                        "舞蹈排练室": [
                            "S2-206",
                            "Y-602",
                            "Y-603"
                        ],
                        "物联网基础原理实验室": [
                            "工1-202"
                        ],
                        "物联网应用展示厅": [
                            "工1-201"
                        ],
                        "物联网综合实验室": [
                            "工1-204"
                        ],
                        "信息安全实验室": [
                            "工1-301"
                        ],
                        "演艺室": [
                            "Y-205"
                        ],
                        "移动互联实验室": [
                            "工1-302"
                        ],
                        "艺-302": [
                            "艺-302"
                        ],
                        "艺-305": [
                            "艺-305"
                        ],
                        "艺-306": [
                            "艺-306"
                        ],
                        "艺-307": [
                            "艺-307"
                        ],
                        "艺-308": [
                            "艺-308"
                        ],
                        "艺-311": [
                            "艺-311"
                        ],
                        "艺-401": [
                            "艺-401"
                        ],
                        "艺-402": [
                            "艺-402"
                        ],
                        "艺-405": [
                            "艺-405"
                        ],
                        "艺-406": [
                            "艺-406"
                        ],
                        "艺-410": [
                            "艺-410"
                        ],
                        "艺-411": [
                            "艺-411"
                        ],
                        "语言实验室": [
                            "1-701",
                            "1-702",
                            "1-703",
                            "1-704",
                            "1-705",
                            "1-706",
                            "1-707",
                            "1-708",
                            "1-709",
                            "1-710",
                            "1-711"
                        ],
                        " 云实训室": [
                            "9-402",
                            "9-403",
                            "9-404",
                            "9-405",
                            "9-407",
                            "9-502",
                            "9-503",
                            "9-504",
                            "9-505",
                            "9-506",
                            "9-507",
                            "9-602",
                            "9-603",
                            "9-604",
                            "9-605",
                            "9-606",
                            "9-607"
                        ],
                        " 云实训室(Linux)": [
                            "9-406"
                        ],
                        "云实训室（财经）": [
                            "5-201",
                            "5-202",
                            "5-203",
                            "5-204",
                            "5-205",
                            "5-301",
                            "5-302",
                            "5-303",
                            "5-304",
                            "5-305",
                            "5-401",
                            "5-402",
                            "5-403",
                            "5-501",
                            "5-502"
                        ],
                        "云实训室（管理）": [
                            "4-202",
                            "4-203",
                            "4-204",
                            "4-402",
                            "4-403",
                            "4-404",
                            "4-602",
                            "4-604",
                            "6-301",
                            "6-302",
                            "6-303",
                            "6-401",
                            "6-402",
                            "6-403"
                        ]
                    }
                }

            }
        },
        created: function () {
            this.app_id = "{{ wechat_info.app_id }}"
        },
        methods: {
            submitData() {
                url = "/school_sys/classroom_schedule?app_id=" + this.app_id + "&campus_area=" + this.selectArea + "&classroom_type=" +  this.selectRoomType + "&classroom=" + this.selectRoomNum
                window.location.href = url
            },
            reset() {
                window.location.reload()
            }
        },
        watch: {
            selectArea: function (val) {
                this.selectRoomType = ""
                this.roomTypeList = Object.keys(this.rawData[val])

                this.selectRoomNum = ""
                this.roomNumList = []
                this.validated1 = true
            },
            selectRoomType: function (val) {
                this.roomNumList = this.rawData[this.selectArea][val]
                this.selectRoomNum = ""
                this.validated2 = true
            }
        }
    }

    var Ctor = Vue.extend(Main)
    new Ctor().$mount('#app')
</script>

</html>